<div class="widget search">
    <header>
        <h3 class="h6">Blog'da arayın</h3>
    </header>
    <form action="/Home/Blog/" method="get" class="search-form" enctype="multipart/form-data">
        <div class="form-group">
            <input type="search" name="search" placeholder="Aramak istediğin şey nedir?">
            <button type="submit" class="submit">
                <i class="icon-search"></i>
            </button>
        </div>
    </form>
</div>
