
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="~/Content/effective404/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="~/Content/effective404/js/jquery.min.js"></script>
    <!-- //js -->
    <!-- font-awesome icons -->
    <link href="~/Content/effective404/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>
    <div class="main">
        <canvas id="myCanvas"></canvas>
        <div class="agileinfo_404_main">
            <h1>Yanlış yerlerdesin sanki</h1>
            <div class="w3_agile_main">
                <h2>Oooops.... Aradığının sayfa bulunamadı</h2>
                <p></p>
                <div class="agile_404 w3layouts">
                    <div class="agile_404_pos">
                        <h3>4<span>0</span>4<img src="~/Content/effective404/images/1.png" alt=" " /> </h3>
                    </div>
                    <img src="~/Content/effective404/images/3.png"class="w3l" />
                </div>
            </div>
            <div class="agileits_w3layouts_nav">
                <div class="w3_agileits_nav_left w3">
                    <ul>
                        <li><a href="/Home/">Anasayfa</a></li>
                        <li><a href="/#">Blog</a></li>
                    </ul>
                </div>
                <div class="wthree_nav_right">
                    <ul class="agileits_social_list w3ls">
                        <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="clear"> </div>
            </div>
        </div>
    </div>
    <script src="~/Content/effective404/js/particles.min.js"></script>
    <script>
      window.onload = function() {
        Particles.init({
          selector: '#myCanvas',
          color: '#34b3f5',
          connectParticles: true,
          minDistance: 100
        });
      };
    </script>
</body>
</html>