@using blog.Models
@model List<tblPosts>

<div class="widget latest-posts">
    <header>
        <h3 class="h6">En son yazılar</h3>
    </header>
    <div class="blog-posts">

        @foreach (var item in Model)
        {
            <a href="/Home/BlogDetay/@item.PostId">
            <div class="item d-flex align-items-center">
                <div class="image"><img src="~/Content/img/small-thumbnail-1.jpg" alt="..." class="img-fluid"></div>
                <div class="title">
                    <strong>@item.Baslik</strong>
                    <div class="d-flex align-items-center">
                        <div class="views"><i class="icon-eye"></i> @item.Views</div>
                        <div class="comments"><i class="icon-comment"></i>@item.tblYorumlar.Where(x=>x.PostId==item.PostId).Count()</div>
                    </div>
                </div>
            </div>
        </a>
        }
        
    </div>
</div>
